---
# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/docker/nginx/"
    schedule:
      interval: "weekly"
      timezone: "Europe/Berlin"
      day: "saturday"
      time: "05:00"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: "docker"
    directory: "/docker/utils/"
    schedule:
      interval: "weekly"
      timezone: "Europe/Berlin"
      day: "saturday"
      time: "05:00"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: "docker"
    directory: "/docker/geoipupdate/"
    schedule:
      interval: "weekly"
      timezone: "Europe/Berlin"
      day: "saturday"
      time: "05:00"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: "docker"
    directory: "/docker/parsedmarc/"
    schedule:
      interval: "weekly"
      timezone: "Europe/Berlin"
      day: "saturday"
      time: "05:00"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: "docker"
    directory: "/docker/elasticsearch/"
    schedule:
      interval: "weekly"
      timezone: "Europe/Berlin"
      day: "saturday"
      time: "05:00"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]

  - package-ecosystem: "docker"
    directory: "/docker/kibana/"
    schedule:
      interval: "weekly"
      timezone: "Europe/Berlin"
      day: "saturday"
      time: "05:00"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]


  - package-ecosystem: "pip"
    directory: "/docker/parsedmarc/"
    schedule:
      interval: "weekly"
      timezone: "Europe/Berlin"
      day: "saturday"
      time: "05:00"


  - package-ecosystem: "github-actions"
    directory: "/.github/workflows/"
    schedule:
      interval: "weekly"
      timezone: "Europe/Berlin"
      day: "saturday"
      time: "05:00"
