[general]
save_aggregate = True
save_forensic = True
save_smtp_tls = True
log_file = /var/log/parsedmarc/parsedmarc.log
silent = False
debug = True

[mailbox]
watch = True
test = False
#check_timeout = 3600
#batch_size = 0
#since = 1d


[imap]
host = server.domain.de
port = 993
ssl = True
user = dmarc@domain.de
password =  <your-imap-password>

[elasticsearch]
hosts = http://elasticsearch:9200
ssl = False
user = parsedmarc
password = <your-parsedmarc-password>

#[smtp]
#host = server.domain.de
#port = 587
#ssl = True
#user = dmarc@domain.de
#password = <your-imap-password>
#from = dmarc@domain.de
#to = postmaster@domain.de
